<html>

    <head>

        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>
    <div class="layout">
        <div class="sidebar">Колонка 1</div>

        <div class="content">
            <h1> {{ title }} </h1>
            {% for post in posts_list %}
                <h2> <a href="{% url "see_post" id=post.id %}"> {{ post.title }} </a></h2>
                <h2>{{ post.id }}</h2>
                <h2>{{ post.time_created }}</h2>
                <h2>{{ post.time_updated }}</h2>
            {% endfor %}
        </div>
    </div>


</html>