{% extends "anonimous.html" %}
{% block title %}
    <title>Register</title>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>User registration</h1>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Sign up" />
                </form>
            </div>
        </section>
    </div>
{% endblock %}