{% extends "anonimous.html" %}
{% block title %}
    <title>Register</title>
{% endblock %}
{% block content %}
  <h1>User registration</h1>
  <form action="." method="POST">
  {% csrf_token %}
    <label for="id_username">Login:</label> {{ form.username }}

    <label for="id_first_name">First name:</label> {{ form.first_name }}

    <label for="id_last_name">Last name name:</label> {{ form.last_name }}

    <label for="id_password1">Password:</label> {{ form.password1 }}

    <label for="id_password2">Password (again):</label> {{ form.password2 }}

    <input type="submit" value="Sign up" />
  </form>
{% endblock %}