{% load staticfiles %}
<html>
  <head>
      {% block title %}{% endblock %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="/static/css/main.css" />

      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/jquery.scrollex.min.js"></script>
      <script src="/static/js/jquery.scrolly.min.js"></script>
      <script src="/static/js/skel.min.js"></script>
      <script src="/static/js/util.js"></script>
      <script src="/static/js/main.js"></script>
      <!--
      Some trying to make gradient in title. No success :(

      <script src="/static/js/jquery.measurer.js"></script>
      <script src="/static/js/jquery.gradienttext.js"></script>
      <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#title a').gradientText({
                colors: ['#00CCFF', '#FF0000', '#00CC00']
            });
        });
     </script>-->
  </head>

  <body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer id="footer" class="wrapper alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy;&nbsp;2016&nbsp;Minstagram. All rights reserved. According to licence we should thank html5up.net.</li>
            </ul>
        </div>
    </footer>
  </body>
</html>