{% extends "loginedin.html" %}
{% block title %}
    <title>Create post</title>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <a>{{ form.as_p }}</a>
                    <input type="submit" value="create post">
                </form>
            </div>
        </section>
    </div>
{% endblock %}
