{% extends "loginedin.html" %}
{% block title %}
    <title>Edit post</title>
{% endblock %}
{% block content %}
		<!-- Sidebar
			<section id="sidebar">
				<div class="inner">
                    <span class="image fit"><img src="../static/images/pic_profile.jpg" alt="" /></span>
					<nav>
						<ul>
							<li><a href="#intro">Сменить фото</a></li>
							<li><a href="#one">Друзья</a></li>
							<li><a href="../new">Добавить пост</a></li>
						</ul>
					</nav>
				</div>
			</section>
			-->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <a>{{ form.as_p }}</a>
                    <input type="submit" value="update post">
                </form>
            </div>
        </section>
    </div>
{% endblock %}