{% extends "anonimous.html" %}
{% block title %}
    <title>Start page</title>
{% endblock %}
{% block content %}
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Minstagram</h1>
							<p>This is a test project from the 3rd team of AnyTask. We'd like to present Minstagram.</p>
                            <p>It is just like Instagram, but created by three people and within two weeks. Maybe it's not as casual and hipster-like as real Instagram, but that's what we could.</p>
						    <p>&macr;\_(ツ)_/&macr;</p>
                        </div>
					</section>
			</div>
{% endblock %}
