{% extends "base.html" %}
{% block header %}
<header id="header">
    <a href="{% url "minstagram:home" %}" class="title">Minstagram</a>
    <nav>
        <ul>
            <li><a href="{% url "minstagram:home" %}">Home</a></li>
            <li><a href="{% url "minstagram:create_post" %}">Add Post</a></li>
            <li><a href="{% url "minstagram:see_friends" %}">Friends</a></li>
            <li><a href="{% url "minstagram:find_friends" %}">Search</a>
            <li><a href="{% url "minstagram:about" %}">About</a></li>
            <li><a href="{% url "minstagram:logout" %}">Logout</a></li>
        </ul>
    </nav>
</header>
{% endblock %}