{% extends "loginedin.html" %}
{% block title %}
    <title>My posts</title>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">

            <div class="inner">
            <!-- Profile!-->
                <div class="box">
                {% for profile in profile_data %}
                    <div class="row">
                        <div class="2u 12u(medium)">
                            {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}" class="image fit">
                            {% endif %}
                        </div>
                        <div class="10u 12u(medium)">
                            <h2> {{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
                            <h4> age: {{ profile.age }}</h4>
                            <h4>status: {{ profile.status }}</h4>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><a href="#" class="button scrolly">edit info</a></li>
                    </ul>
                {% endfor %}
                </div>


                <!-- Posts !-->
                <h1>Posts</h1>
                {% for post in posts_list %}
                    <h3><a href="{% url "minstagram:see_post" id=post.id %}"> {{ post.title }} </a></h3>
                    {% if post.image %}
                        <span class="image fit"><a href="{% url "minstagram:see_post" id=post.id %}">
                            <img src="{{ post.image.url }}"></a> </span>
                    {% endif %}
                    <ul class="actions">
                        <li><a href="{% url "minstagram:edit_post" id=post.id %}" class="button scrolly">edit</a></li>
                        <li><a href="{% url "minstagram:delete_post" id=post.id %}" class="button scrolly">delete</a></li>
                    </ul>
                    <!-- <ul class="actions">
                        <li><a href="#one" class="button scrolly">Like</a></li>
                    </ul>-->
                    <h4>{{ post.time_created }}</h4>
                    <hr>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}