{% extends "loginedin.html" %}
{% block title %}
    <title>Search</title>
{% endblock %}
{% block content %}

    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Intro -->
            <section id="intro" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <h1>People</h1>
                    {% for profile in profile_data %}
                        <div class="box">
                            <h3><a href="{% url "minstagram:see_user" id=profile.user.id %}"> {{ profile.user.first_name }} {{ profile.user.last_name }}</a></h3>
                            <h4> age: {{ profile.age }}</h4>
                            <h4> status: {{ profile.status }}</h4>
                        </div>
                        {% if profile.user not in following %}
                            <ul class="actions">
                                <li><a href="{% url "minstagram:follow" id=profile.user.id %}" class="button scrolly">follow</a></li>
                            </ul>
                        {% elif profile.user in following %}
                            <ul class="actions">
                                <li><a href="{% url "minstagram:unfollow" id=profile.user.id %}" class="button scrolly">unfollow</a></li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>

{% endblock %}